{% extends "base.html" %}

{% block titulo %} Lista de huéspedes {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        Lista Huéspedes
    </div>
    <div class="card-body">
        <h4 class="card-title">Huéspedes</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Cliente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>11.111.111-1</td>
                        <td>Juan</td>
                        <td>Soto</td>
                        <td>Soto</td>
                        <td>huespeddeprueba@gmail.com</td>
                        <td>912345678</td>
                        <td>casa #332</td>
                        <td>Cencosud</td>
                        <td>Editar | Borrar</td>
                    </tr>
                </tbody>
            </table>
        
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}