<form enctype="multipart/form-data" method="post">

    <div class="mb-3">
      <label for="" class="form-label">ID:</label>

      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="ID">

      <label for="" class="form-label">Nombre:</label>

      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre proveedor">
      
      <label for="" class="form-label">Email:</label>

      <input type="email"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Email">
        
      <label for="" class="form-label">Teléfono:</label>

      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Teléfono">

      <label for="" class="form-label">Dirección:</label>

      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Dirección">

      <label for="" class="form-label">Rubro:</label>

      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Rubro">
    </div>

</form>

