{% extends "base.html" %}

{% block titulo %} Editar proveedor {% endblock %}

{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
            <h2>Bienvenid@ al sitio de administración del hostal</h2>
            <p>Aquí podrás realizar gestión de los datos, elige una de las opciones de la barra superior para realizar cambios o ver los datos existentes</p>
            <hr class="my-2">
            
            <p class="lead">
            </p>
        </div>
    </div>

{% endblock %}