<form enctype="multipart/form-data" method="post">

    <div class="mb-3">
      <label for="" class="form-label">ID:</label>

      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="ID">

      <label for="" class="form-label">Rut empresa:</label>

      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Rut empresa">
      
      <label for="" class="form-label">Nombre empresa:</label>

      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre empresa"> 
    
      <label for="" class="form-label">Razón social:</label>

      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Razón social">   
      
      <label for="" class="form-label">Email:</label>

      <input type="email"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Email">
        
      <label for="" class="form-label">Teléfono:</label>

      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Teléfono">

      <label for="" class="form-label">Dirección:</label>

      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Dirección">
      
    </div>

</form>