{% extends "base.html" %}

{% block titulo %} Lista de Clientes {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        Lista Clientes
    </div>
    <div class="card-body">
        <h4 class="card-title">Clientes</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Rut Empresa</th>
                        <th>Nombre Empresa</th>
                        <th>Razón Social</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>                   
                    {% for Cliente in Clientes %}
                    <tr>
                        <td>{{ Cliente.id_cli }}</td>
                        <td>{{ Cliente.rut_cli }}</td>
                        <td>{{ Cliente.nombre_cli }}</td>
                        <td>{{ Cliente.razon_social }}</td>
                        <td>{{ Cliente.email_cli }}</td>
                        <td>{{ Cliente.telefono_cli }}</td>
                        <td>{{ Cliente.direccion_cli }}</td>
                        <td> 
                            <a name="" id="" class="btn btn-info" href="{% url 'editarCli' %}" role="button">Editar</a>
                            |
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminarCli' Cliente.id_cli %}" role="button">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}