{% extends 'base/base.html' %}
{% block Content %}
<form method="POST" class="form-inline">
  {% csrf_token %}
  <div class="col-xl-6 col-md-6 mb-6">
    {% if Cliente %}
    <div class="card border-left-warning shadow h-100 py-2">
    {% else %}
      <div class="card border-left-success shadow h-100 py-2">
    {% endif %}
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{% if Cliente %} Editar {% else %} Nuevo {% endif %} Cliente</div>
            <div class="dropdown-divider"></div>
            <div class="row">
              <div class="col-9">
                <div class="input-group">
                  <input type="text" name="rut_empresa" maxlength="100" id="rut_empresa" class="form-control" placeholder="Rut empresa" value="{% if Cliente %} {{ Cliente.rut_empresa }} {% endif %}" required>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="estado" class="mr-2">Estado</label>
                  <input type="checkbox" name="estado" class="form-control" id="estado" {% if Cliente.estado %} checked {% endif %}>
                </div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                <a href="{% url 'cliente:listaClientes' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block javascript %}{% endblock %}