{% extends 'base/base.html' %}
{% block Content %}
<form method="POST" class="form-inline">
  {% csrf_token %}
  <div class="col-xl-6 col-md-6 mb-6">
    {% if Cliente %}
    <div class="card border-left-warning shadow h-100 py-2">
    {% else %}
      <div class="card border-left-success shadow h-100 py-2">
    {% endif %}
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{% if cliente %} Editar {% else %} Nuevo {% endif %} Cliente</div>
            <div class="dropdown-divider"></div>
            <div class="row">
              <div class="col-9">
                <div class="input-group">
                  <input type="text" name="rut_empresa" maxlength="100" id="rut_empresa" class="form-control" placeholder="Rut empresa" value="{% if Cliente %} {{ Cliente.rut_empresa }} {% endif %}" required>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="estado" class="mr-2">Estado</label>
                  <input type="checkbox" name="estado" class="form-control" id="estado" {% if Cliente.estado %} checked {% endif %}>
                </div>
              </div>
              <div class="col-9">
                <div class="input-group">
                  <input type="text" name="nombre_empresa" maxlength="100" id="nombre_empresa" class="form-control" placeholder="Nombre Empresa" value="{% if Cliente %} {{ Cliente.nombre_empresa }} {% endif %}" required>
                </div>
              </div>
              <div class="col-9">
                <div class="input-group">
                  <input type="text" name="razon_social" maxlength="100" id="razon_social" class="form-control" placeholder="Razón Social" value="{% if Cliente %} {{ Cliente.razon_social }} {% endif %}" required>
                </div>
              </div>
              <div class="col-9">
                <div class="input-group">
                  <input type="text" name="email" maxlength="100" id="email" class="form-control" placeholder="Email" value="{% if Cliente %} {{ Cliente.email }} {% endif %}" required>
                </div>
              </div>
              <div class="col-9">
                <div class="input-group">
                  <input type="text" name="telefono" maxlength="100" id="telefono" class="form-control" placeholder="Telefono" value="{% if Cliente %} {{ Cliente.telefono }} {% endif %}" required>
                </div>
              </div>
              <div class="col-9">
                <div class="input-group">
                  <input type="text" name="direccion" maxlength="100" id="direccion" class="form-control" placeholder="Dirección" value="{% if Cliente %} {{ Cliente.direccion }} {% endif %}" required>
                </div>
              </div>
              <div class="col-9">
                <div class="input-group">
                  <input type="text" name="usuarioModifica" maxlength="100" id="usuarioModifica" class="form-control" placeholder="Usuario que modifica" value="{% if Cliente %} {{ Cliente.usuarioModifica }} {% endif %}" required>
                </div>
              </div>
              <div class="col-9">
                <div class="input-group">
                  <input type="text" name="usuarioCrea_id" maxlength="100" id="usuarioCrea_id" class="form-control" placeholder="Usuario crea id" value="{% if Cliente %} {{ Cliente.usuarioCrea_id }} {% endif %}" required>
                </div>
              </div>
            </div>
            
            <div class="dropdown-divider"></div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                <a href="{% url 'cliente:listaClientes' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block javascript %}{% endblock %}