{% extends "base/base.html" %}

{% block titulo %} Lista de Clientes {% endblock %}

{% block Content %}
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'cliente:crearCli' %}" role="button">Agregar nuevo cliente</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Clientes</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Rut Empresa</th>
                        <th>Nombre Empresa</th>
                        <th>Razón Social</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                        {% for Cliente in Clientes %}
                        <tr>
                            <td>{{ Cliente.id_cliente }}</td>
                            <td>{{ Cliente.rut_empresa }}</td>
                            <td>{{ Cliente.nombre_empresa }}</td>
                            <td>{{ Cliente.razon_social }}</td>
                            <td>{{ Cliente.email }}</td>
                            <td>{{ Cliente.telefono }}</td>
                            <td>{{ Cliente.direccion }}</td>
                            <td> 
                                <a name="" id="" class="btn btn-info" href="{% url 'cliente:editarCli' Cliente.id_cliente %}" role="button">Editar</a>
                                |
                                <a name="" id="" class="btn btn-danger" href="{% url 'cliente:eliminarCli' Cliente.id_cliente %}" role="button">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}